:root {
  /* color */
  --main-dark: #212121;
  --main-light: #757575;
  --main-white: #ffffff;
  --main-hover: #2196f3;
  --btn-light: #f5f4fa;
  --bg-sol: #2f303a;

  --main-background-color: #e5e5e5;
  --card-border-color: #eeeeee;

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
/* reset */
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  color: var(--main-dark);
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header */
.header-container {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
}
.nav-container {
}
.nav-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: #000;
}
.nav-span {
  font-family: var(--secondary-font);

  color: var(--main-hover);
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.nav-list {
}
.nav-list__item {
}
.nav-list__link {
  color: var(--main-dark);
}
.contact-list__mail {
  color: var(--main-light);
}
.contact-list__tel {
  color: var(--main-light);
}
.nav:focus,
.nav:hover,
.active {
  color: var(--main-hover);
}
/* main */
/* solutions */
.solutions {
  background-color: var(--bg-sol);
}
.solutions-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.solutions-button {
  font-family: var(--main-font);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: #ffffff;
  background-color: var(--main-hover);
}
.solutions-button:hover,
.solutions-button:focus {
  background-color: #188ce8;
}
/* advantages */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.advantages {
}
.list {
}
.advantages-list-item {
}
.advantages-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}
.advantages-subtitle {
  font-size: 14px;
  line-height: 1.7;

  color: var(--main-light);
}
/* work */
.work-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  color: #212121;
}
.list {
}
.work-list-item {
}
/* team */
.team {
  background-color: #f5f4fa;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.list {
}
.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--main-white);
}
.team-list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
}
.team-list-subtitle {
  font-size: 16px;
  line-height: 1.2;

  text-align: center;

  color: #757575;
}
/* footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--main-white);
}
.footer-span {
  font-family: var(--secondary-font);

  color: var(--main-hover);
}
.address {
}
.list {
}
.f-nav {
  font-size: 14px;
  line-height: 1.7;
}
.f-nav:hover,
.f-nav:focus {
  color: var(--main-hover);
}
.footer-list-item {
}
.footer-list-address {
  font-style: normal;

  color: var(--main-white);
}
.footer-list-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */
.cards {
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn-list-item {
}
.btn {
  font-family: var(--main-font);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: var(--main-hover);
  color: var(--main-white);
}
.current-btn {
  background-color: var(--main-hover);
  color: var(--main-white);
}
.current-btn:hover,
.current-btn:focus {
  background-color: #188ce8;
}
/* cards */
.list {
}
.cards-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.cards-list-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.cards-list-subtitle {
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: #757575;
}
